html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  color: $grey-default;
  font-family: 'Oswald', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

// container
.container {
  max-width: 110rem;
  margin: 0 auto;
}

// Background
.bck-b__light {
  background: $greenish-blue;
}

.bck-b__dark {
  background: $grey-dark;
}

// Form
input {
  font-size: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 100%;
  margin: 1rem 0 0 0;
  border: 1px solid $white-4;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid $white-4;
  resize: vertical;
  
}

select {
  font-size: 1.6rem;
  height: 3.8rem;
  border: 1px solid $white-2;
  border-radius: 3px;
  width: 100%;
  margin: 1rem 0 0 0;
}
