/** Colors */

$white: #ffffff;
$white-2: #eeeeee;

$red-orange: #F44336;

$grey-default: #333333;
$grey-light-2: #c9c9c9;
$grey-light: #999592;
$grey-m-dark: #686868;
$grey-dark-2: #4d4d4d;
$grey-dark: #272723;

$brown-light: #e1ddc3;

/** Font size */

// $font-size-large: 1.8rem;
// $font-size-small: 1.4rem;
$font-size-xl: 3rem;
$font-size-m: 1.4rem;
$font-size-l: 1.8rem;


/** Spacing */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem; //450px

