// card block

.card-block {
  margin: 11rem 0;

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @media (max-width: $desktop-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
    }
   
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint){
      grid-template-columns: repeat(2, 1fr);
    }


  }
}

.card-block-shop .card-item__wrapper {
  float: left;
  width: 33.33%;
  margin-bottom: 2rem;

}

@media (max-width: 80rem) {
  .card-block-shop .card-item__wrapper {
    width: 50%;
  }
}