.page-container {
  min-height: 75vh;
  padding-top: 8.5rem;
}

// wrapper
.page-wrapper {
  padding-top: 8.5rem;
}

.page-top {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
  padding: 20px 0px;
  text-transform: uppercase;
}