.page-container {
  min-height: 75vh;
  padding-top: 8.5rem;
}

// wrapper
.page-wrapper {
  padding-top: 8.5rem;
}

.page-top {
  border-bottom: 1px solid #999592;   
  padding: 20px 0px;
  text-transform: uppercase;
}