.register-login-container {
  border: 1px solid $grey-light;
  border-top: 5px solid $grey-light;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 8rem 0rem 11rem 0rem;
  padding: 3rem;
  min-height: 43rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  h2 {
    margin: 2rem 0rem;
    text-transform: uppercase;
    color: $grey-m-dark;
  }

  p {
    font-weight: 300;
    font-size: 1.6rem;
    width: 90%;
  }

}

.login__wrapper {
  
}